<!DOCTYPE html>
<html>
  <head>
    <title>Admin Page</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <nav>
      <a href="/">Home</a> | <a href="/produk">Produk</a> |
      <a href="/pembelian">Pembelian</a>
    </nav>
  </body>
</html>
